<!DOCTYPE html>
<html>
  <head>
    <title>Airbnb</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="js/main.js" defer></script>
  </head>
  <body>
    <div class="content_wrap">
      <header>
        <div class="header_background"></div>
        <div class="logo"></div>
        <div class="header_menu">
          <div class="header_menu_item room">
            <p>숙소</p>
          </div>
          <div class="header_menu_item experience">
            <p>체험</p>
          </div>
          <div class="header_menu_item online">
            <p>온라인 체험</p>
          </div>
        </div>
        <div class="login_btn"></div>
      </header>
    </div>
  </body>
</html>
