@import url('./utils.scss');
@import url('./reset.scss');

.content_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 80px;
        .header_background {
            position: absolute;
            width: 100%;
            height: 100px;
            img {
                width: 100%;
                z-index: 0;
            }
        }
        .logo {
            position: relative;
        }
        .header_menu {
            display: flex;
            flex-direction: row;
            position: relative;
            &_item {
                margin-left: 10px;
                margin-right: 10px;
            }
            p {
                font-family: Noto Sans KR;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 23px;
                text-align: right;
            }
        }
        .login_btn {
            position: relative;
        }
    }
    .search_bar {
        width: 1000px;
        height: 90px;
        margin-top: 50px;
        .checkout {
            width: 240px;
            border-right: 1px solid #ccc;
        }
        .price {
            width: 280px;
            border-right: 1px solid #ccc;
            margin-left: 20px;
        }
        .number {
            width: 240px;
            margin-left: 20px;
        }
        .submit_btn {
            cursor: pointer;
            img {
                width: 50px;
                height: 50px;
            }
        }
    }
}