@import url("./utils.scss");
@import url("./reset.scss");
@import url("./font.scss");
@import url("./result.scss");

.main_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Noto Sans KR";
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 80px;
        .header_background {
            position: absolute;
            width: 100%;
            height: 100px;
            img {
                width: 100%;
                z-index: 0;
            }
        }
        .logo {
            position: relative;
        }
        .header_menu {
            display: flex;
            flex-direction: row;
            position: relative;
            &_item {
                margin-left: 10px;
                margin-right: 10px;
            }
        }
        .login_btn {
            position: relative;
        }
    }
    .search_bar {
        width: 1100px;
        height: 80px;
        margin-top: 50px;
        .checkin {
            width: 150px;
            padding-left: 40px;
        }
        .checkout {
            width: 150px;
        }
        .price {
            width: 250px;
        }
        .number {
            width: 200px;
        }
    }
    .search_dropdown {
        display: flex;
        justify-content: flex-end;
        .dropdown_item.calendar.hidden {
            display: none;
        }
        .dropdown_item.price.hidden {
            display: none;
        }
        .dropdown_item.number.hidden {
            display: none;
        }
        .dropdown_item.calendar {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            position: relative;
            width: 1100px;
            height: 600px;
            .cal_box {
                width: 410px;
                height: 360px;
                padding: 10px 70px 70px 70px;
                .text_line {
                    display: flex;
                    justify-content: space-between;
                    height: 50px;
                    .date_info {
                        margin-top: 3px;
                        font-weight: bold;
                    }
                }
                .week_line {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    color: #999;
                }
                .cal_date {
                    display: flex;
                    flex-direction: column;
                    ul {
                        display: flex;
                        flex-direction: row;
                        li {
                            &:hover:not(.empty):not(.inactive) {
                                background-color: #999;
                                border-radius: 50px;
                                cursor: pointer;
                            }
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 70px;
                            height: 60px;
                        }
                    }
                }
            }
            .cal_box.left {
                .left_btn {
                    position: relative;
                    top: -3px;
                    font-size: 25px;
                    cursor: pointer;
                }
                .text_line {
                    .date_info {
                        margin-right: 162px;
                    }
                }
            }
            .cal_box.right {
                .right_btn {
                    position: relative;
                    top: -3px;
                    font-size: 25px;
                    cursor: pointer;
                }
                .text_line {
                    .date_info {
                        margin-left: 162px;
                    }
                }
            }
        }
        .dropdown_item.price {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            position: relative;
            width: 600px;
            height: 400px;
            .price_title {
                font-weight: bold;
                margin-bottom: 50px;
            }
            input {
                border: 1px solid #999;
            }
        }
        .dropdown_item.number {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 300px;
            height: 300px;
            padding: 30px 90px 30px 90px;
            .number_box {
                width: 100%;
                height: 100%;
                .description_box {
                    .person_type {
                        font-size: 20px;
                        font-weight: bold;
                        margin-bottom: 10px;
                    }
                    .person_description {
                        font-size: 14px;
                        color: #999;
                    }
                }
                .input_box {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    height: 33%;
                    &:not(:last-child) {
                        border-bottom: 1px solid #ccc;
                    }
                    .person_input_box {
                        display: inherit;
                        .number_person {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            input {
                                text-align: center;
                                width: 40px;
                                font-size: large;
                                font-weight: bold;
                            }
                        }
                        .change_btn {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 50px;
                            border: 1px solid #999;
                            width: 40px;
                            height: 40px;
                            cursor: pointer;
                            p {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 50px;
                                height: 40px;
                                margin-bottom: 10px;
                                color: #999;
                                font-size: 40px;
                            }
                            &:hover:not(.inactive) {
                                background-color: #ddd;
                            }
                            &.inactive {
                                color: #ddd;
                                border: 1px solid#ddd;
                                cursor: default;
                            }
                        }
                    }
                }
            }
        }
    }
}
