.search_dropdown {
    background-color: #FFF;
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.1), 0px 0px 4px rgba(51, 51, 51, 0.05);
}
.search_bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFF;
    position: relative;
    border-radius: 50px;
    border: 1px solid #BDBDBD;
    &_item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        padding: 0px 30px 0px 30px;
        &:not(:last-child):hover {
            border-radius: 50px;
            background-color: #ddd;
            cursor: pointer;
        }
        .item_title {
            margin-bottom: 10px;
            font-weight: bold;
        }
        .item_content {
            .wrap {
                color: #999;
                left: 0px;
                top: 0px;
            }
            .value {
                top: 45px;
            }
        }
    }
}
.checked_item {
    border-radius: 100px;
    box-shadow: 0px 4px 30px rgba(51, 51, 51, 0.1), 0px 0px 4px rgba(51, 51, 51, 0.05);
}
.hidden {
    display: none;
}
input[type=text] {
    background: transparent;
    border: none;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}
input.wrap {
    position: relative;
}
input.value { 
    position: absolute;
}